{{!--

login form handlebar template

--}}

<form action="/login" id="form-login" method="POST">
    <label for="emailAddressInput">Email</label>
    <br>
    <input class="form-input" id="emailAddressInput" name="emailAddressInput" type="email" placeholder="example@gmail.com">
    <br>
    <label for="passwordInput">Password</label>
    <br>
    <input class="form-input" id="passwordInput" name="passwordInput" type="password" placeholder="Password">
    <br>
    <input class="submit-button" type="submit" value="Submit">
</form>

<div id="error-client" hidden></div>

{{#if render_error}}
{{> error}}
{{/if}}
<a href="/register">Click here to register!</a>

<script src="/public/js/lab10.js"></script>